* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  margin-top: 30px;
}

/* Layout */

.layout__header {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.layout__main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

/* Todolist */

.todoList__title {
  margin: 0;
  padding: 0;
}

.todoList__list {
  display: inline-block;
  width: 100%;
}

.todoList__item {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}

.todoList__button {
  width: 100%;
  font-weight: 300;

  &::before {
    padding-right: 0.5rem;
    content: url("images/add-circle-outline.svg");
  }
}

/* TODO */

.todo {
  padding-top: 1rem;
  overflow: hidden;

  .todo__title {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 1rem;
  }

  .todo__desc {
    margin: 0 0 1rem;
    color: gray;
  }

  input[type="checkbox"] {
    float: left;
    margin: 7px 10px 0 0;
  }
}

.todo__list {
  margin: 0 0 1rem;
  padding: 0 1rem;
  list-style: none;
}

.todo__item a {
  display: block;
  color: #222;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.todo__links {
  order: 4;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  .todo__link {
    background-color: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    font-weight: bold;
    color: #222;
  }
}

/* Raða eftir */

.selectdesc {
  float: left;
  line-height: 1.8em;
  padding-right: 1em;
}

select {
  padding: 0.5em;
  display: inline-block;
}

/* TODO Details */

.todo__details {
  display: flex;

  .due-date {
    margin-right: 0.5em;
    color: gray;
  }
}

.tags {
  display: flex;

  .tag {
    margin: auto 0.5em;
    padding: 0.3em 0.5em;
    line-height: 1em;
    background-color: #dab4d0;
    border-radius: 5px;
  }
}

/* Annað */

ul {
  list-style-type: none;
  margin: 10px 0;
}

li {
  cursor: pointer;
  margin: 10px 0;
  font-size: 1.2em;

  &::after {
    float: right;
    margin-right: 50px;
    content: attr(value);
    color: gray;
  }
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px gray dashed;
  border-radius: 5px;
  padding: 4px 10px 4px 7px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 20px;
  font-size: 1.2em;
}

.addOrModify {
  display: flex;
  flex-direction: column;
}
