* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  width: 100%;
}

h1{
  text-align: center;
}

/* Layout */

.layout__header {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.layout__main {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

/* Todolist */

.todoList__title {
  margin: 0;
  padding: 0;
}

.todoList__list {
  display: inline-block;
}

.todoList__item {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}


/* Todo */

.todo {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;

  overflow: hidden;
}

.todo__title {
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.todo__list {
  margin: 0 0 1rem 0;
  padding: 0 1rem;
  list-style: none;
}

.todo__item a {
  display: block;
  color: #222;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.todo__links {
  order: 4;

  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

.todo__details {
  display: flex;
}

.todo__desc {
  margin: 0 0 1rem 0;
}

.todo .tags {
  display: flex;
}

.todo__link {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;

  font-weight: bold;
  color: #222;
}

.tag {
  margin: auto 0.5em;
  padding: 0.3em 0.5em;
  line-height: 1em;
  background-color: lightgray;
  border-radius: 5px;
}

.due-date {
  margin-right: 0.5em;
  color: gray;
}

.selectdesc{
  float: left;
  line-height: 1.8em;
  padding-right: 1em;
}

select {
  padding: 0.5em;
  display: inline-block;
}

.layout__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

